[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
Django = "==4.2.16"
djangorestframework = "==3.15.2"
drf-spectacular = {extras = ["sidecar"], version = "*"}
openapi-core = '==0.19.5'

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
